<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>경기지역화폐 사용처</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=07962526a491f013dccf7f5231f710bd"></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script data-ad-client="ca-pub-9087836240057599" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
  <div class="board">
    <div style="font-size: 12px; font-weight: normal;">
      <div class="input-group mb-3" style="margin-bottom: 0px !important;">
        <input type="text" class="form-control" placeholder="상호명 검색" aria-label="search" aria-describedby="button-addon2" id="searchText">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="btn-search" style="background-color: #ffffff; color: black;">검색</button>
        </div>
      </div>
    </div>
  </div>
  <!--<div id="nearby-search" style="-->
    <!--position: absolute;-->
    <!--z-index: 1000;-->
    <!--top: 75px;-->
    <!--right: 15px;-->
    <!--width: 87px;-->
    <!--background-color: aqua;-->
    <!--box-shadow: 1px 1px 1px 1px grey;-->
    <!--padding: 8px;-->
    <!--opacity: 0.8;-->
    <!--cursor: pointer">-->
    <!--영역 검색-->
  <!--</div>-->
  <div class="map_wrap">
    <div id="map" style="width:100%;height:100vh;"></div>
    <ul id="category">
      <li id="location" data-order="1">
        <span><img src="/img/location.png" width="25px" /></span>
        전체
      </li>
      <li id="dinner" data-order="2">
        <span><img src="/img/dinner.png" width="25px" /></span>
        음식점
      </li>
      <li id="mart" data-order="3">
        <span><img src="/img/mart.png" width="25px" /></span>
        마트
      </li>
      <li id="cafe" data-order="4">
        <span><img src="/img/coffee.png" width="25px" /></span>
        카페
      </li>
      <li id="store" data-order="5">
        <span><img src="/img/store.png" width="25px" /></span>
        슈퍼
      </li>
      <li id="bakery" data-order="6">
        <span><img src="/img/bakery.png" width="25px" /></span>
        베이커리
      </li>
    </ul>
  </div>
  <div id="loading" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document"></div>
  </div>
  <div id="alertModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="top: 215px; font-size: 14px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">알림사항</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>현재 성남시, 안산시 지역만 데이터를 제공합니다.</div>
          <div>추후 다른 지역 업데이트 예정입니다.</div>
          <div style="margin-top: 20px; font-size: 12px;">
            <div>++ 2020-04-10 성남시 데이터 추가</div>
            <div>++ 2020-04-11 안산시 데이터 추가</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=07962526a491f013dccf7f5231f710bd&libraries=services,clusterer,drawing"></script>
  <script type="text/javascript" src="/js/map.min.js"></script>
  </body>
</html>