<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta property="og:url" content="http://gg-currency.kr">
    <meta property="og:title" content="경기지역화폐 사용처(가맹점)">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/img/logo.png">
    <meta property="og:description" content="경기지역화폐 사용처(가맹점) 지도입니다.">
    <meta name="naver-site-verification" content="b560a1227cc0aa836946b5dd7423f49ecf1febd7" />
    <meta name="description" content="지도에서 경기지역화폐 가맹점, 사용처 찾기, 분류, 검색 등 제공">
    <meta name="robots" content="index,follow">
    <title>경기지역화폐 사용처</title>
    <link rel="canonical" href="http://www.gg-currency.kr"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=07962526a491f013dccf7f5231f710bd"></script>-->
    <script src="/js/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script data-ad-client="ca-pub-9087836240057599" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
  <div class="board">
    <div style="font-size: 12px; font-weight: normal;">
      <div class="input-group mb-3" style="margin-bottom: 0px !important;">
        <input type="text" class="form-control" placeholder="상호명 검색" aria-label="search" aria-describedby="button-addon2" id="searchText">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="btn-search" style="background-color: #ffffff; color: black;">검색</button>
        </div>
      </div>
    </div>
  </div>
  <!--<div id="nearby-search" style="-->
    <!--position: absolute;-->
    <!--z-index: 1000;-->
    <!--top: 75px;-->
    <!--right: 15px;-->
    <!--width: 87px;-->
    <!--background-color: aqua;-->
    <!--box-shadow: 1px 1px 1px 1px grey;-->
    <!--padding: 8px;-->
    <!--opacity: 0.8;-->
    <!--cursor: pointer">-->
    <!--영역 검색-->
  <!--</div>-->
  <div class="map_wrap">
    <div id="map" style="width:100%;height:100vh;"></div>
    <ul id="category">
      <li id="dinner" data-order="1">
        <span><img src="/img/dinner.png" width="25px" /></span>
        음식점
      </li>
      <li id="mart" data-order="2">
        <span><img src="/img/mart.png" width="25px" /></span>
        마트
      </li>
      <li id="cafe" data-order="3">
        <span><img src="/img/coffee.png" width="25px" /></span>
        카페
      </li>
      <li id="store" data-order="4">
        <span><img src="/img/store.png" width="25px" /></span>
        편의점
      </li>
      <li id="bakery" data-order="1">
        <span><img src="/img/bakery.png" width="25px" /></span>
        베이커리
      </li>
      <li id="hair" data-order="2">
        <span><img src="/img/barbershop.png" width="25px" /></span>
        헤어샵
      </li>
      <li id="fuel" data-order="3">
        <span><img src="/img/fuel.png" width="25px" /></span>
        주유소
      </li>
      <li id="etc" data-order="4">
        <span><img src="/img/etc.png" width="25px" /></span>
        기타
      </li>
    </ul>
  </div>
  <div id="loading" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document"></div>
  </div>
  <div id="alertModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="top: 215px; font-size: 14px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">알림사항</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div style="font-size: 12px;">
            <div>++ 2020-04-10 성남시 데이터 추가</div>
            <div>++ 2020-04-11 안산시 데이터 추가</div>
            <div>++ 2020-04-12 안양시, 수원시, 광주시, 용인시 데이터 추가</div>
            <div>++ 2020-04-14 오산시 데이터 추가</div>
          </div>
          <div style="margin-top: 20px; font-weight: bold;">이외 지역 업데이트 예정입니다.</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=07962526a491f013dccf7f5231f710bd&libraries=services,clusterer,drawing"></script>
  <script type="text/javascript" src="/js/map.min.js"></script>
  </body>
</html>