body {overflow: hidden;}
.wrap {position: absolute;left: 0;bottom: 40px;width: 220px;height: 68px;margin-left: -108px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 15px;font-weight: bold;}
.info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden;font-size: 12px;height: 75px;text-overflow: ellipsis;white-space: nowrap; line-height: 28px; padding: 0px 8px}
.info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
/*.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}*/
.info .link {color: #5085BB;}
.board {z-index: 100; background-color: aqua; padding: 10px; font-size: 14px; font-weight: bold; opacity: 0.7;}
.circle {width: 16px; height: 16px; border-radius: 50%; display: inline-block; margin-right: 5px; box-shadow: 1px 1px 1px 1px;}
.green {background-color: lawngreen;}
.margin5 {margin: 8px 0px;}
.map_wrap, .map_wrap * {margin:0; padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap {position:relative;width:100%;}
#category {position:absolute;top:10px;left:10px;border-radius: 5px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 2;}
#category li {float:left;list-style: none;width:50px; border-right:1px solid #acacac;padding:6px 0;text-align: center; cursor: pointer;}
#category li.on {background: #eee;}
#category li:hover {background: #ffe6e6;border-left:1px solid #acacac;margin-left: -1px;}
#category li:last-child{margin-right:0;border-right:0;}
#category li span {display: block;margin:0 auto 3px;width:27px;height: 28px;}
#category li .category_bg {background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat scroll;}
#category li .dinner {background:url(../img/dinner.png) no-repeat;}
#category li .bank {background-position: -10px 0;}
#category li .mart {background-position: -10px -36px;}
#category li .pharmacy {background-position: -10px -72px;}
#category li .oil {background-position: -10px -108px;}
#category li .cafe {background-position: -10px -144px;}
#category li .store {background-position: -10px -180px;}
#category li.on .category_bg {background-position-x:-46px;}
#loading {position: absolute;left:45%;top:50%;z-index:2000;display:none;width: 50px;height: 50px;border: 3px solid rgba(0,0,0,1);border-radius: 50%;border-top-color: #e80000;animation: spin 1s ease-in-out infinite;-webkit-animation: spin 1s ease-in-out infinite;}
.modal-backdrop.show {opacity: 0.1;}
@keyframes spin {to { -webkit-transform: rotate(360deg); }}
@-webkit-keyframes spin {to { -webkit-transform: rotate(360deg);}}

@media screen and (min-width: 768px) {
    #loading {position: absolute;left:50%;top:50%;z-index:2000;display:none;width: 50px;height: 50px;border: 3px solid rgba(0,0,0,1);border-radius: 50%;border-top-color: #e80000;animation: spin 1s ease-in-out infinite;-webkit-animation: spin 1s ease-in-out infinite;}
}